# Eclipse
.classpath
.project
.metadata/
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
tmp/

# Project specific
.gradersettings
GraderData
log
/bin
config/dynamicconfig.properties
